<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" style="margin:20px">
    <mat-form-field>
      <mat-label>Task Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Due Date</mat-label>
      <input matInput formControlName="dueDate" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Priority</mat-label>
      <mat-select formControlName="priority">
        <mat-option value="High">High</mat-option>
        <mat-option value="Medium">Medium</mat-option>
        <mat-option value="Low">Low</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Notes</mat-label>
      <input matInput formControlName="notes">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" style="margin: 10px;">Submit</button>
</form>
  